/* @import url(https://fonts.googleapis.com/css?family=Play); */

/* in html */
@font-face {
  font-family: "Play";
  src: url("Play-Regular.ttf");
  format ("truetype");
}

@viewport {

}

body {
  font-family: Play;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  background-color: white;
}

ul {
  margin:  0px;
  padding: 0px;
}





#bot {
  border-top: solid 3px rgb(255, 255, 135);
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
  background-color: rgb(80,80,80);
}

#bot h1{
  color: white;
  width: 230px;
  font-size: 42px;
  text-align: center;
  border-style: solid;
}

#bot .qw {
  color: white;
  width: 230px;
  font-size: 36px;
  text-align: center;
}

#bot p {
  color: white;
  width: 130px;
  font-size: 28px;
  text-align: center;
  border-style: solid;
}

#bot img {
  color: lightgrey;
}

#bot b{
  font-size: 24px;
  color: rgb(255, 255, 135);
}

table {
  border-collapse: collapse;
}

.teburu tr td{
  border: solid 6px rgb(255, 255, 135);
}
.teburu tr th{
  border: solid 6px rgb(186, 140, 195);
  color: white;
}

.teb tr td{
  border: solid 6px rgb(255, 255, 135);
}
.teb tr th{
  border: solid 6px rgb(186, 140, 195);
  color: white;
}

.teb b {
  color: rgb(186, 140, 195)
}

td,th {
  border:solid 6px lightgrey;
  padding: 8px;
  font-size: 24px;
  color: lightgrey;
}

td img {
  vertical-align: middle;
}

.tabcontent {
   display: none;
   padding: 6px 12px;
   border-top: none;
}

/* Style the buttons that are used to open the tab content */
.tab button {
   background-color: inherit;
   border: none;
   outline: none;
   cursor: pointer;
   padding: 14px 16px;
   transition: 0.3s;
   font-size: 18px;
}

/* Change background color of buttons on hover */
.tab button:hover {
   background-color: black;
}

.round {
  border-radius: 50%;
  border-style: double dotted;
  border-width: thick;
}

#text{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

#misc {
  padding-top: 25px;
}

#useful {
  padding-top: 25px;
}
